﻿@using Store.Models;
@model int

<script type="text/x-kendo-tmpl" id="display-template">
    <div class="product">
        <h4 class="text-center text-nowrap">#:Name#</h4>
        <img class="center-block" src="#:ImagePath#" />
        <div class="center-block">
            <img class="display-image" src="/Resources/Images/edit.png" data-id="#:Id#" onclick="displayEditOnClick(this);" />
            <img class="display-image" src="/Resources/Images/delete.png" data-id="#:Id#" onclick="displayDeleteOnClick(this);" />
        </div>
    </div>
</script>

<div class="panel panel-default" style="margin-top: 20px;">
    <div class="panel-heading">Display</div>
    <div class="panel-body">
        <div class="demo-section k-content wide">
            @(Html.Kendo().ListView<ItemViewModel>()
    .Name("display")
    .TagName("div")
    .ClientTemplateId("display-template")
    .DataSource(dataSource =>
    {
        dataSource.Read("GetItemsById", "Store", new { itemGroupId = Model });
        dataSource.PageSize(20);
    })
    .Pageable()
    //.Selectable(selectable => selectable.Mode(ListViewSelectionMode.Single))
    /*.Events(events => events.Change("onChange")*/)
        </div>
        <button class="btn btn-default pull-left" style="margin-top: 10px;" onclick="createNewOnClick();">Create new</button>
    </div>
</div>

<script>

    function displayEditOnClick(image) {
        var id = image.dataset.id;
        sendAjax('/Store/GetItemInfo', { id: id }, callbackGetItemInfo);
    }

    function displayDeleteOnClick(image) {
        kendo.confirm("Are you sure you want to delete?").then(function () {
            var id = image.dataset.id;
            sendAjax('/Store/Delete', { id: id }, callbackDelete);
        }, function () {
            // mégsincs törlés
        });
    }

    function createNewOnClick() {
        var window = KendoHelper.getWindow('create');
        window.center().open();
    }

    function callbackGetItemInfo(data) {
        var obj = JSON.parse(data.responseText);
        setContent(obj.Data);
    }

    function callbackDelete(data) {
        var nav = KendoHelper.getNavigation();
        var selected = nav.select();

        if (selected.length > 0) {
            var id = selected[0].dataset.id;
            refreshDisplay(id);
        }

        var statusCode = JSON.parse(data.responseText);
        if (statusCode === '200') {
        }
    }

    function refreshDisplay(id) {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Store/GetItemsById",
                    dataType: "json",
                    type: 'POST',
                    data: { ItemGroupId: id },
                },
            },
            pageSize: 21,
            schema: {
                parse: function (data) {
                    return data.Data;
                }
            }
        });

        $("#pager").kendoPager({
            dataSource: dataSource
        });

        $("#display").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#display-template").html())
        });
    }
</script>

<style>
    #listView {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 600px;
    }

    .product {
        float: left;
        position: relative;
        width: 200px;
        height: 200px;
        margin: 0 20px;
        padding: 0;
    }

    .product h4 {
        color: black;
    }

    .product img {
        width: 128px;
        height: 128px;
    }

    .product div {
        visibility: hidden;
    }

    .product:hover div {
        visibility: visible;
        position: absolute;
        width: 128px;
        height: 128px;
        top: 40px;
        left: 36px;
        margin: 0;
        padding: 0;
        line-height: 128px;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        background-color: rgba(0,0,0,0.75);
        border-radius: 10px;

        transition: background .3s linear, color .3s linear;
        -o-transition: background .3s linear, color .3s linear;
        -moz-transition: background .3s linear, color .3s linear;
        -webkit-transition: background .3s linear, color .3s linear;
    }

    .display-image {
        width: 30px !important;
        height: 30px !important;
        z-index: 100;
        cursor: pointer;
        opacity: 0.5;

        transition: width .3s linear, height .3s linear;
        -o-transition: width .3s linear, height .3s linear;
        -moz-transition: width .3s linear, height .3s linear;
        -webkit-transition: width .3s linear, height .3s linear;
    }

    .display-image:hover {
        width: 50px !important;
        height: 50px !important;
        opacity: 1;
    }

    #display .k-state-selected {
        background-color: transparent;
    }

    .k-confirm .k-window-titlebar::before {
        content: 'Confirmation';
    }

    .k-confirm .k-window-titlebar .k-dialog-title {
        visibility: collapse;
    }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
</style>