﻿@using Store.Models;
@model StoreViewModel

@{ 
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 navigation-background">
            @Html.Partial("Navigation", Model.ProductGroups)
        </div>
        <div class="col-md-9 vertical-line">
            @Html.Partial("Display", 1)
        </div>
    </div>
</div>

@Html.Partial("Ajax")
@Html.Partial("Window", new object[] { "update", new Product(), Model.ProductGroups })
@Html.Partial("Window", new object[] { "create", new Product(), Model.ProductGroups })
@Html.Partial("KendoHelper")

<style>
    .navigation-background {
        background-color: #f3f3f4;
        height: 710px;
    }

    .vertical-line {
        border-left: thick solid #cecece;
    }
</style>