﻿@using Store.Models;
@using Kendo.Mvc.UI.Fluent;
@model IEnumerable<ProductGroup>

@{
    var navigation = Html.Kendo().PanelBar();
    navigation.Name("navigation");
    navigation.Events(events => events.Select("onExpand"));
    navigation.ExpandMode(PanelBarExpandMode.Single);

    navigation.Items(factory => FillPanel(factory, GetChildren(GetRoot().Id), 3));
}

<div class="panel panel-default" style="margin-top: 20px;">
    <div class="panel-heading">Navigation</div>
    <div class="panel-body">@(Html.Raw(navigation.ToHtmlString()))</div>
</div>

<script>
    function onExpand(args) {
        var id = args.item.dataset.id;
        sendAjax('/Store/GetItemsById', { itemGroupId: id }, sendCallback);

        refreshDisplay(id);
    }
    
    function sendCallback(data) {
    }
</script>

@functions
{
    private ProductGroup GetRoot()
    {
        return Model.SingleOrDefault(e => e.ParentId == null);
    }

    private IEnumerable<ProductGroup> GetChildren(int? parentId)
    {
        return Model.Where(e => e.ParentId == parentId);
    }

    private void FillPanel(PanelBarItemFactory factory, IEnumerable<ProductGroup> elements, int depth)
    {
        if (depth-- == 0) { return; }

        foreach (var elem in elements)
        {
            factory.Add().Text(elem.Name).HtmlAttributes(new { data_id = elem.Id }).Items(newFactory =>
            {
                FillPanel(newFactory, GetChildren(elem.Id), depth);
            });
        }
    }
}