﻿@using Store.Models;
@model Product

<form id="update_form" action="@ViewData["action"]" method="post" enctype="multipart/form-data">
    <div class="update-wrapper">
        <div class="update-left-panel">
            <div class="form-group">
                @Html.LabelFor(m => m.Id)
                <div>
                    @Html.TextBoxFor(m => m.Id, new { id = "update-item_id", @class = "form-control update-id", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProductGroupId)
                <div>
                    @Html.DropDownListFor(m => m.ProductGroupId, CreateListItems(ViewData, Model), new { id = "update-item_group_id", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProductNumber)
                <div>
                    @Html.TextBoxFor(m => m.ProductNumber, new { id = "update-item_group_number", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ProductNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                <div>
                    @Html.TextBoxFor(m => m.Name, new { id = "update-item_name", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SellingPrice)
                <div>
                    @Html.TextBoxFor(m => m.SellingPrice, new { id = "update-item_price", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SellingPrice, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                <div>
                    @Html.TextAreaFor(m => m.Description, new { id = "update-item_description", @class = "form-control update-textarea", rows = 5 })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @*<div class="form-group">
            <div class="k-content">
                <label>Delete image</label>
                <input type="checkbox" name="delete" />
            </div>
        </div>*@
        <div class="update-right-panel">
            <img id="update-item_image_path" class="img-responsive center-block update_image" />
            <div class="form-group">
                <div class="k-content">
                    @(Html.Kendo().Upload()
                    .Name("image").Multiple(false)
                    .Validation(validation => validation.AllowedExtensions(new[] { ".png", ".jpg" })))
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-default pull-right" type="button" value="Cancel" onclick="window_onClose();" />
        <input class="btn btn-default pull-right update-submit-button" type="submit" value="Submit" />
    </div>
</form>

<style>
    .update_image {
        max-width: 256px;
        max-height: 256px;
        margin-bottom: 20px;
    }

    .update-wrapper {
        display: flex;
    }

    .update-left-panel {
        width: 50%;
    }

    .update-right-panel {
        flex: 1;
    }

    .update-textarea {
        resize: none;
    }

    .update-id {
        cursor: not-allowed;
    }

    .update-submit-button {
        margin-right: 10px;
    }
</style>

<script>
    $('#update_form').submit(function (data) {
        $('#update_form').ajaxComplete(function () {
            alert('Success');
        });
    })

    function window_onClose() {
        KendoHelper.getWindow('create').close();
        KendoHelper.getWindow('update').close();
    }

    function setContent(data) {
        setValue('update-item_id', data.Id);
        setValue('update-item_group_number', data.ItemGroupNumber);
        setValue('update-item_name', data.Name);
        setValue('update-item_price', data.SellingPrice);
        setValue('update-item_description', data.Description);

        var combo = document.getElementById('update-item_group_id');

        for (var i = 0; i < combo.options.length; i++) {
            if (combo.options[i].value == data.ItemGroupId) {
                combo.options[i].selected = true;
                break;
            }
        }

        $('#update-item_image_path').attr('src', data.ImagePath);

        
        var window = KendoHelper.getWindow('update');
        window.title(data.Name + "'s details");
        window.center().open();
    }

    function setValue(id, value) {
        var elem = $('#' + id).val(value);
    }
</script>

@functions
{
    private IEnumerable<SelectListItem> CreateListItems(IDictionary<string, object> data, Product item)
    {
        if (data.ContainsKey("ProductGroups"))
        {
            var groups = data["ProductGroups"] as IEnumerable<ProductGroup>;
            foreach (var group in groups)
            {
                bool flag = false;
                if (item.ProductGroupId == group.Id) { flag = true; }

                yield return new SelectListItem
                {
                    Text = group.Name,
                    Value = group.Id.ToString(),
                    Selected = flag,
                };
            }
        }
    }
}