﻿@model object[]

@(Html.Kendo().Window()
    .Name(Model[0] as string)
    .Title("Add new product")
    .Content(@<text>

    @{
        
        ViewData.Add("ProductGroups", Model[2]);

        if ((Model[0] as string) == "create")
        {
            ViewData.Add("action", "/Store/Create");
            ViewData.Add("WindowName", "create");
        }
        else
        {
            ViewData.Add("action", "/Store/Update");
            ViewData.Add("WindowName", "update");
        }
    }

    @Html.Partial("Update", Model[1])

    </text>)
    .Draggable()
    .Width(700)
    .Actions(actions => actions.Minimize().Close())
    .Visible(false))

<div class="responsive-message"></div>

<script>

</script>

<style>
    @@media screen and (max-width: 1023px) {
        div.k-window {
            display: none !important;
        }
    }
</style>